<h1>Categories</h1>

<p>This component demonstrates fetching data from the Linnworks API server.</p>
<p>Status message: {{ apiStatus.statusMsg }}</p>

<hr />
<label class=" control-label col-md-12">Enter API token</label>
<div class="col-md-4">
    <input #inpToken class="form-control" type="text" value="{{ apiStatus.apiToken }}">
</div>
<button class="btn" (click)="setApiToken(inpToken.value)">Apply</button>
<button class="btn" (click)="setApiToken()">Don't have one? Try mine :)</button>

<hr />
<p><a [routerLink]="['/register-category']">Create Category</a></p>

<hr />
<p *ngIf="!catList"><em>Loading...</em></p>
<table class='table' *ngIf="catList">
    <thead>
        <tr>
            <th>Category Id:</th>
            <th>Category Name:</th>
            <th>Stock items:</th>
            <th>Actions:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of catList">
            <td>{{ cat.categoryId }}</td>
            <td>{{ cat.categoryName }}</td>
            <td>{{ cat.categoryStock }}</td>
            <td>
                <a [routerLink]="['/category/edit/', cat.categoryId]">Edit</a> |
                <a [routerLink]="" (click)="delete(cat.categoryId, cat.categoryName)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
